@import "mixins.less";

html, body {
  padding: 0;
  margin: 0;
  background: white;
  height: 100%;
}

.container {
  height: 100%;
}

.header {
  .component;

  height: 60px;
  padding: 0 10px;
  h1 {
    margin: 0;
    padding: 0;
    line-height: 60px;
  }
}

.main {
  height: calc(~"100% - 60px");

  .code {
    .panel;
    width: 500px;
  }

  .world {
    .panel;
    position: relative;
    width: calc(~"100% - 500px");

    .robot {
      .square;
      /*
        .filter-drop-shadow(0 0px 5px rgba(0,0,0,.5));

        &.moving {
          .filter-drop-shadow(0 10px 10px rgba(0,0,0,.5)) !important;
        }
      */

      background: url(/img/robot.png);
      position: absolute;
      top: 0;
      left: 0;
      transition: all .5s ease-in-out;
    }

    .canvas {
      .row {
        .clearfix;
      }

      .cell {
        .square;

        float: left;
        border: 1px solid #eee;

        &.wall-up {
          border-top: 1px solid #888;
        }

        &.wall-down {
          border-bottom: 1px solid #888;
        }

        &.wall-left {
          border-left: 1px solid #888;
        }

        &.wall-right {
          border-right: 1px solid #888;
        }
      }
    }
  }
}